body {
    margin: 0px;
    padding: 0%;
    font-family: 'Raleway';
    background: #F5F5F5;

}

.barra {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    background: #F5F5F5;
    overflow: hidden;
    z-index: 1000;

}

ul {
    display: flex;
    gap: 15px;
    align-items: center;
    list-style-type: none;

}


li a {
    text-decoration: none;
    color: #464646;
    font-size: 16px;
}

li a:hover {
    color: chocolate;
}

.content{
    padding-top: 60px;
    padding: 20px;
}

#presentacion {
    color: #464646;
    width: 90%;
    display: flex;
    box-sizing: border-box;
    margin: auto;
}

.informacion_presentacion {
    margin-right: 20px;
}

.foto-perfil {
    width: 150px;
    border-radius: 50%;
}

#sobre_mi,
#contacto {
    background: #EAF2FD;
    padding: 50px 80px;
    color: #464646;
    margin-top: 20px;
    width: 100%;
}

.informacion_sobre_mi {
    width: 90%;
}

.skills,
.hobbies {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    height: 200px;
    width: 100%;
    flex-flow: row wrap;
    margin: 10px;
}


.icon_skill {
    width: 60px;
}

.icon_hobbie {
    width: 60px;
}

.proyectos {
    text-align: center;
    align-self: center;
    display: inline-flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}


.formulario {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.texto {
    width: 20%;
    height: 30px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.mensaje {
    width: 20%;
    height: 50px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.boton {
    width: 150px;
    height: 40px;
    background: #2A7AE4;
    border-radius: 5px;
    color: white;
    border: 0;
}

.boton_demo {
    text-decoration: none;
    padding: 10px;
    width: 150px;
    height: 40px;
    background: #2A7AE4;
    border-radius: 5px;
    color: white;
    border: 0;
}

.boton_repositorio {
    text-decoration: none;
    padding: 10px;
    width: 150px;
    height: 40px;
    background: white;
    border-radius: 5px;
    color: black;
    border: 1px solid #2A7AE4;
}

.boton:hover {
    background: orange;
}

.pie_pagina {
    text-align: center;
}
@media (max-width:600px) {
    .texto{width: 80%;}
    .mensaje{width: 80%;}
    .foto-perfil{width: 120px; height: 120px;}
    .boton{width: 50%;}
}
@media (min-width: 601px) and (max-width:1200px) {
    .texto{width: 40%;}
    .mensaje{width: 40%;}
    .boton{width: 40%;}
    .foto-perfil{width: 130px; height: 130px;}
    .barra{justify-content: center;}
}