* {
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    margin: 0px;
    padding: 0%;
    font-family: 'Raleway';
    background: #fcfcfd;
}

.barra {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
    background-color: rgba(255, 240, 255, 0.2);
    z-index: 1000;
    backdrop-filter: blur(10px);
}

ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;

}


li a {
    text-decoration: none;
    color: #464646;
    font-size: 20px;
}

li a:hover {
    color: chocolate;
}

main {
    margin-top: 70px;
}
.titulo{ 

    padding: 20px;
    width: 95%;
    margin: 20px;
    display: flex;
    justify-items: center;
    justify-content: center;
}
.titulo:not(:first-child){
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.texto_titulo{
    text-align: center;
    background: #93bcf5;
    padding:10px 30px;
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    color: white;
}
.sobre_mi {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    word-wrap: break-word;
    background: #EAF2FD;
    
}
.skills, .hobbies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center; 
    padding:10px ;
    margin-bottom: 20px;
}

.icon_skill, .icon_hobbie {
    width: 70px;
}

.proyectos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
}

.proyecto{
    display: flex;
    flex-direction: column;
    justify-items: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.titulo_proyecto{
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 4px;
    padding: 5px;
}
.etiquetas{
    margin: 10px;
    
}
.banners{
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: fit-content;

}
.banner{
    width: fit-content;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 200, 0.2);
    font-size: 12px;
    padding: 3px;
    background: #EAF2FD;
}

.pie_proyecto{
    display: flex;
    justify-content: end;
    gap: 5px;
    margin-top: 10px;
    padding: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.1) ;
}

.demo{
    text-decoration: none;
    background: #659deb;
    color:white;
    padding: 5px;
    border-radius: 5px;
    transition: 1s;
}
.demo:hover{
    background: white;
    border: 1px solid #83b5fc;
    color: #464646;

}
.repositorio{
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #83b5fc;
    padding: 5px;
    color: #464646;
    transition: 1s;
}
.repositorio:hover{
    background: #83b5fc;
    color: white;
}

.img_proyecto{
    width: 310px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.contacto{
    background: #EAF2FD;
    width: 100%;
}
form{
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    padding: 20px;
    justify-items: center;
    gap: 10px;
}

.texto, .mensaje{
    width: 350px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 40px;
    outline:aqua;
}

.mensaje{
    resize: vertical;
    height: 60px;
}
.boton{
    width: 350px;
    padding: 10px;
    color: white;
    background: #659deb;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    transition: 1s;
}

.boton:hover{
    border: 1px solid blue;
    background: white;
    color: #464646;
}
.pie_pagina{
    display: flex;
    justify-content: center;
    justify-items: center;
    background: #646464;
    color: white;
}


@media (min-width:320px) and (max-width:600px) {
    main{margin-top: 80px;}
    .texto, .mensaje{width: 90%;}
    .proyectos{grid-template-columns: repeat(1, 1fr);  padding: 4px;}
    .proyecto{width: 90%;}
    .img_proyecto{width: 100%;}
    .barra{height: 70px;}
    ul{ flex-wrap: wrap;}
    li a{font-size: 15px;}
}